# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually these folders are used by PyInstaller to store temporary build files and final executables
build/
dist/
*.spec